

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.checkbox-information label {
	margin-bottom: 0px;
}

.builder {
	border: 1px solid black;
	padding: 1em;
	padding-left: 2em;
	margin-bottom: 1em;
	border-radius: 25px;
}

.bookmarks {
	background-color: #C5EFF7;
}

.tags {
	background-color: #C8F7C5;
	color: rgb(51, 51, 51);
}

.relatedInfo {
	background-color: #F5D76E;
	color: rgb(51, 51, 51);
}

.sidebar-nav li a:hover {
  color: black;
}

.sidebar-nav li.active a:hover {
  color: white;
}

.animated {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
	position: relative;
}

.animated.fadeInRight {
	-webkit-animation-name: fadeInRight;
	animation-name: fadeInRight;
}

.animated.fadeInLeft {
	-webkit-animation-name: fadeInLeft;
	animation-name: fadeInLeft;
}

.animated.fadeInLeft.ng-animate {
	width: 100%;
	position: absolute;
}

.animated.fadeOutLeft.ng-animate.ng-hide, .animated.fadeOutLeft.ng-animate.ng-leave {
	width: 100%;
	-webkit-animation-name: fadeOutLeft;
	animation-name: fadeOutLeft;
	position: absolute;
}

.animated.fadeOutRight.ng-animate.ng-hide, .animated.fadeOutRight.ng-animate.ng-leave {
	width: 100%;
	-webkit-animation-name: fadeOutRight;
	animation-name: fadeOutRight;
	position: absolute;
}

.tagList {
	margin: 1em;
}

.pointer {
	cursor: pointer;
}

.searchmatch {
	font-weight: 600;
}

.tagRelatedWikipedia {
  height: 150px;
  padding: 10px;
  overflow: hidden;
  border-radius: 5px;
  border: 1px #eee solid;
  margin: 0em 1em 1em 1em;
  font-size: 0.8em;
  overflow-y: auto;
}

.tagRelatedWikipedia.zoteroGroups {
	overflow: overlay;
}

.relatedInfoTags {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
}

.saved {
	background-color: green;
	color: white;
}

.bold {
	font-weight: 600;
}

.click {
	text-decoration: underline;
	color: #337ab7;
}