<h1>Diigo related tags</h1>
<p>Click on a tag in order to find its related tags.</p>
<div ng-if="diigo.tagLoaded == 0">
	tags are loading...
</div>

<div class="row" ng-if="diigo.tagLoaded == 1">
	<div class="tagList">
		<div ng-repeat="tag in diigo.tags" class="row">
			<span class="label label-success tags pointer" ng-click="diigo.searchRelatedTags(tag.title)">{{tag.title}}</span>
			<img src="img/ajax-loader.gif" alt="" ng-if="diigo.loading">
			<div ng-if="tag.relatedTags.length">
				<hr>
				<h4>Tags related to "<strong class="tags">{{tag.title}}</strong>"</h4>
				<p>Click on a tag to add it to your story</p>
				<div class="row">
					<div class="relatedInfoTags" ng-repeat="relatedTags in tag.relatedTags" ng-click="diigo.toggleToStory(relatedTags)">
						<span class="label label-success relatedInfo pointer" ng-class="{'saved': relatedTags.saved}">{{relatedTags.title}}</span>
					</div>
				</div>
			</div>
			<div ng-if="!tag.relatedTags.length && diigo.hasSearched">
				<hr>
				<p>No result found for this tag...</p>
			</div>
		</div>
	</div>
</div>