<h1 data-i18n="story.relatedTags.title"></h1>
<div ng-show="diigo.tagLoaded == 0" data-i18n="story.common.loading"></div>

<div class="row" ng-show="diigo.tagLoaded == 1">
	<div class="tagList">
		<div class="row">

			<span ng-show="!diigo.loading" ng-click="diigo.init(true); false;" class="pointer click" data-i18n="story.common.reset"></span>
			<img src="img/ajax-loader.gif" alt="" ng-show="diigo.loading">
			<div ng-show="diigo.tag.relatedTags.length">
				<hr>
				<h4><span data-i18n="story.relatedTags.tagsRelation"></span><span ng-repeat="(keySubTag, subTag) in diigo.tag.title.split(',')"><span ng-show="(keySubTag != 0)">, </span>"<strong class="tags">{{subTag.trim()}}</strong>"</span></h4>
				<p data-i18n="story.relatedTags.addTagToStory"></p>
				<div class="row">
					<div class="relatedInfoTags" ng-repeat="relatedTags in diigo.tag.relatedTags" ng-click="diigo.toggleToStory(relatedTags)">
						<span class="label label-success relatedInfo pointer" ng-class="{'saved': relatedTags.saved}">{{relatedTags.title}}</span>
					</div>
				</div>
			</div>
			<div ng-show="!diigo.tag.relatedTags.length && diigo.hasSearched">
				<hr>
				<p data-i18n="story.common.noResult"></p>
			</div>
		</div>
	</div>
</div>

<!-- <div class="row">
	<div class="relatedInfoTags" ng-repeat="(key, selectedTag) in diigo.selectedTags">
		<span class="label label-success pointer" ng-show="key == 0">
			{{selectedTag.title}}
		</span>
		<span class="label label-danger pointer" ng-show="key != 0" ng-click="diigo.unselectTag(selectedTag)">
			{{selectedTag.title}} X
		</span>
	</div>
</div> -->

<div class="row">
	<button type="btn" class="btn btn-danger" ng-click="app.restart()" data-i18n="story.common.restart"></button>
	<button ng-show="diigo.tag" type="submit" class="btn btn-primary" ng-disabled="app.nextDisabled" ng-click="app.startNewStory(s); app.nextState();"><span data-i18n="story.relatedTags.createAStory"></span>
		<span ng-repeat="(key, subTag) in diigo.tag.title.split(',')">
			<span ng-show="key != 0">, </span>"{{subTag.trim()}}"
		</span>
	</button>
	<button ng-show="diigo.selectedTags.length > 1" type="submit" class="btn btn-success" ng-disabled="app.nextDisabled" ng-click="app.restart(diigo.selectedTags);"><span data-i18n="story.relatedTags.relaunchASearch"></span>
		<span ng-repeat="(keyTag, selectedTag) in diigo.selectedTags">
			<span ng-repeat="(keySubTag, subSelectedTag) in selectedTag.title.split(',')">
				<span ng-show="(keyTag != 0) || (keySubTag != 0)">, </span>"{{subSelectedTag.trim()}}"
			</span>
		</span>
	</button>
</div>