<h1 data-i18n="story.relatedBookmarks.title"></h1>
<div ng-show="diigo.tagLoaded == 0" data-i18n="story.common.loading"></div>

<div class="row" ng-show="diigo.tagLoaded == 1">
	<div class="tagList">
		<div ng-repeat="tag in diigo.tags" class="row">
			<span class="pointer" ng-repeat="(key, subTag) in tag.title.split(',')" ng-click="diigo.searchRelatedDiigoBookmarks(tag.title)">
				<span class="label label-success tags">{{subTag.trim()}}</span>
			</span>
			<img src="img/ajax-loader.gif" alt="" ng-show="diigo.loading">
			<div ng-show="tag.relatedBookmarks.length">
				<hr>
				<h4><span data-i18n="story.relatedBookmarks.relation"></span> <span ng-repeat="(keySubTag, subTag) in tag.title.split(',')"><span ng-show="(keySubTag != 0)">, </span>"<strong class="tags">{{subTag.trim()}}</strong>"</span></h4>
				<p data-i18n="story.relatedBookmarks.addToStory"></p>
				<div ng-repeat="bookmark in tag.relatedBookmarks" >
					<div class="tagRelatedWikipedia diigobookmarks col-md-3 relatedInfo" ng-class="{'saved': bookmark.saved}">
						<div>
							<span class="pointer" ng-click="diigo.toggleBookmarkToStory(bookmark)"><span ng-show="bookmark.saved" data-i18n="story.common.forget"></span><span ng-show="!bookmark.saved" data-i18n="story.common.save"></span></span>
							<h4><a href="{{bookmark.link}}" target="_blank">{{bookmark.title}}</a></h4>
							<p><span ng-bind-html="diigo.sce.trustAsHtml(bookmark.description)"></span></p>
						</div>
					</div>
				</div>
			</div>
			<div ng-show="!tag.relatedBookmarks.length && diigo.hasSearched">
				<hr>
				<p data-i18n="story.common.noResult"></p>
			</div>
		</div>
	</div>
</div>

<button type="btn" class="btn btn-danger" ng-click="app.restart()" data-i18n="story.common.restart"></button>
<button type="submit" class="btn btn-primary" ng-disabled="app.nextDisabled" ng-click="app.nextState()" data-i18n="story.common.next"></button>