<div class="jumbotron alert" ng-click="hideSummaryParams = !hideSummaryParams" ng-class="{'alert-danger': app.paramsFalse, 'alert-success': !app.paramsFalse}">
	<h2 data-i18n="params.title">Account settings <!-- <small>(click to open/hide)</small> --></h2>
	<div class="summary-params animated fadeIn" ng-hide="hideSummaryParams">
		<h3 data-i18n="params.accountTitle"></h3>
		<ul>
			<li class="alert alert-danger" ng-show="!app.params.useDiigo && !app.params.useZotero" data-i18n="params.accountNoAccount"></li>
			<li ng-show="app.params.useDiigo">Diigo</li>
			<li ng-show="app.params.useZotero">Zotero</li>
		</ul>
		
		<div ng-show="app.params.useDiigo">
			<h3 data-i18n="params.diigoTitle"></h3>
			<ul>
				<li ng-show="app.params.diigo_username"><strong data-i18n="params.diigoUsername"></strong>: {{app.params.diigo_username}}</li>
				<li class="alert alert-danger" ng-show="!app.params.diigo_username" data-i18n="params.diigoNoUsername"></li>
				<li class="alert alert-danger" ng-show="!app.params.diigo_password" data-i18n="params.diigoNoPassword"></li>
				<li ng-show="app.params.diigo_username && app.params.diigo_password && app.params.diigo_auth"><strong data-i18n="params.authKey"></strong>: {{app.params.diigo_auth}}</li>
			</ul>
		</div>
		
		<div ng-show="app.params.useZotero">
			<h3 data-i18n="params.zoteroTitle"></h3>
			<ul>
				<li class="alert alert-danger" ng-show="!(app.params.zotero_userOrGroup == 'groups') && !(app.params.zotero_userOrGroup == 'users')" data-i18n="params.zoteroNoUserOrGroup"></li>
				<li ng-show="app.params.zotero_userOrGroup == 'groups'"><span data-i18n="params.zoteroUserOrGroup"></span> <strong>group</strong></li>
				<li ng-show="app.params.zotero_userOrGroup == 'users'"><span data-i18n="params.zoteroUserOrGroup"></span> <strong>user</strong></li>
				
				<li ng-show="app.params.zotero_userOrGroup == 'groups'">
					<ul>
						<li ng-show='app.params.zotero_groupId'><strong data-i18n="params.zoteroGroupId"></strong>: {{app.params.zotero_groupId}}</li>
						<li class="alert alert-danger" ng-show='!app.params.zotero_groupId' data-i18n="params.zoteroNoGroupId"></li>
					</ul>
				</li>
				
				<li ng-show="app.params.zotero_userOrGroup == 'users'">
					<ul>
						<li ng-show='app.params.zotero_userId'><strong data-i18n="params.zoteroUserId"></strong>: {{app.params.zotero_userId}}</li>
						<li class="alert alert-danger" ng-show='!app.params.zotero_userId' data-i18n="params.zoteroNoUserId"></li>
					</ul>
				</li>
				<li ng-show="app.params.zotero_apiKey"><strong data-i18n="params.zoteroApiKey"></strong>: {{app.params.zotero_apiKey}}</li>
				<li class="alert alert-danger" ng-show="!app.params.zotero_apiKey" data-i18n="params.zoteroNoApiKey"></li>
				
			</ul>
		</div>
	</div>
</div>