<h1 ng-if="summary.specificTag"><span data-i18n="story.summary.storyAbout"></span> <strong><span ng-repeat="(subKey, subTag) in summary.specificTag.split(',')"><span ng-if="subKey != 0">, </span>"{{subTag.trim()}}"</span></strong></h1>
  <button type="btn" class="btn btn-success btn-xl" ng-click="summary.postStory(summary.specificTag)" data-i18n="story.summary.postIt"></button>
  <button type="btn" class="btn btn-primary btn-xl" ng-click="summary.updateStory(summary.specificTag)" data-i18n="story.summary.modifyIt"></button>
  <button type="btn" class="btn btn-danger btn-xl"  ng-click="summary.forgetStory(summary.specificTag)" data-i18n="story.summary.forgetIt"></button>

<h1 ng-if="!summary.specificTag" data-i18n="story.summary.title"></h1>

<div ng-if="summary.tagLoaded == 0" data-i18n="story.common.loading"></div>
<div class="row" ng-if="summary.tagLoaded == 1">
	<div class="tagList col-md-12">
		<div ng-repeat="tag in summary.tags" class="row">
			<div class="col-md-12">
				<div>
					<span ng-repeat="(key, subTag) in tag.title.split(',')">
						<span class="label label-success tags">{{subTag.trim()}}</span>
					</span>
				</div>
				
				<div class="relatedInfoSummary row" ng-if="(relatedSavedBookmarks = (tag.relatedBookmarks | filter:{saved: true})).length">
					<div class="col-md-12">
						<!-- <div class="pointer" ng-click="tag.hideRelatedArticle = !tag.hideRelatedArticle;">+ Show/hide the saved related aticles</div> -->
						<div ng-hide="tag.hideRelatedArticle">
							<hr>
							<h4 data-i18n="story.summary.bookmarks"></h4>
							<div ng-repeat="bookmark in relatedSavedBookmarks" class="tagRelatedWikipedia col-md-3 relatedInfo">
								<h4><a href="{{bookmark.link}}" target="_blank">{{bookmark.title}}</a></h4>
								<p><span ng-bind-html="summary.sce.trustAsHtml(bookmark.description)"></span></p>
							</div>
						</div>
					</div>
				</div>
				
				<div class="relatedInfoSummary row" ng-if="(relatedSavedArticles = (tag.relatedArticles | filter:{saved: true})).length">
					<div class="col-md-12">
						<!-- <div class="pointer" ng-click="tag.hideRelatedArticle = !tag.hideRelatedArticle;">+ Show/hide the saved related aticles</div> -->
						<div ng-hide="tag.hideRelatedArticle">
							<hr>
							<h4 data-i18n="story.summary.wikipediaArticles"></h4>
							<div ng-repeat="article in relatedSavedArticles" class="tagRelatedWikipedia col-md-3 relatedInfo">
								<h4>{{article.title}}</h4>
								<p><a href="{{article.url}}" target="_blank" data-i18n="story.relatedArticles.see"></a><br/>
								<span ng-bind-html="summary.sce.trustAsHtml(article.snippet)"></span></p>
							</div>
						</div>
					</div>
				</div>
				
				<div class="relatedInfoSummary row" ng-if="(relatedSavedTags = (tag.relatedTags | filter:{saved: true})).length">
					<div class="col-md-12">
						<!-- <div class="pointer" ng-click="tag.hideRelatedTags = !tag.hideRelatedTags;">+ Show/hide the saved related tags</div> -->
						<div ng-hide="tag.hideRelatedTags">
							<hr>
							<h4 data-i18n="story.summary.tags"></h4>
							<div class="row">
								<div class="relatedInfoTags" ng-repeat="relatedTags in relatedSavedTags">
									<span class="label label-success relatedInfo">{{relatedTags.title}}</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="relatedInfoSummary row" ng-if="(relatedSavedGroups = (tag.relatedGroups | filter:{saved: true})).length">
					<div class="col-md-12">
						<!-- <div class="pointer" ng-click="tag.hideRelatedGroups = !tag.hideRelatedGroups;">+ Show/hide the saved related groups</div> -->
						<div ng-hide="tag.hideRelatedGroups">
							<hr>
							<h4 data-i18n="story.summary.groups"></h4>
							<div ng-repeat="group in relatedSavedGroups" class="tagRelatedWikipedia zoteroGroups col-md-3 relatedInfo">
								<h4>{{group.name}}</h4>
								<p><a href="{{group.url}}" target="_blank" data-i18n="story.relatedGroups.see"></a><br/>
								<span ng-bind-html="summary.sce.trustAsHtml(group.info)"></span></p>
							</div>
						</div>
					</div>
				</div>
				<div class="relatedInfoSummary row" ng-if="(relatedSavedUsers = (tag.relatedUsers | filter:{saved: true})).length">
					<div class="col-md-12">
						<!-- <div class="pointer" ng-click="tag.hideRelatedUsers = !tag.hideRelatedUsers;">+ Show/hide the saved related users</div> -->
						<div ng-hide="tag.hideRelatedUsers">
							<hr>
							<h4 data-i18n="story.summary.users"></h4>
							<div ng-repeat="user in relatedSavedUsers" class="tagRelatedWikipedia zoteroGroups col-md-3 relatedInfo">
								<h4>{{user.name}}</h4>
								<p><a href="{{user.url}}" target="_blank" data-i18n="story.relatedUsers.see"></a><br/>
								<span ng-bind-html="summary.sce.trustAsHtml(user.info)"></span></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- <button type="submit" class="btn btn-danger" ng-click="app.restart()">Restart</button> -->