<h1 data-i18n="story.relatedArticles.title"></h1>
<div ng-show="wikipedia.tagLoaded == 0" data-i18n="story.common.loading"></div>
<div class="row" ng-show="wikipedia.tagLoaded == 1">
	<div class="tagList">
		<div ng-repeat="tag in wikipedia.tags" class="row">
			<span class="pointer" ng-repeat="(key, subTag) in tag.title.split(',')" ng-click="wikipedia.searchArticles(tag.title)">
				<span class="label label-success tags">{{subTag.trim()}}</span>
			</span>
			<img src="img/ajax-loader.gif" alt="" ng-show="wikipedia.loading">
			<div ng-show="tag.relatedArticles.length">
				<hr>
				<h4><span data-i18n="story.relatedArticles.relation"></span> <span ng-repeat="(keySubTag, subTag) in tag.title.split(',')"><span ng-show="(keySubTag != 0)">, </span>"<strong class="tags">{{subTag.trim()}}</strong>"</span></h4>
				<p data-i18n="story.relatedArticles.addToStory"></p>
				<div ng-repeat="article in tag.relatedArticles" class="tagRelatedWikipedia col-md-3 relatedInfo" ng-class="{'saved': article.saved}">
					<span class="pointer" ng-click="wikipedia.toggleArticleToStory(article)"><span ng-show="article.saved" data-i18n="story.common.forget"></span><span ng-show="!article.saved" data-i18n="story.common.save"></span></span>
					<h4>{{article.title}}</h4>
					<p><a href="{{article.url}}" target="_blank" data-i18n="story.relatedArticles.see"></a><br/>
					<span ng-bind-html="wikipedia.sce.trustAsHtml(article.snippet)"></span></p>
				</div>
			</div>
			<div ng-show="!tag.relatedArticles.length && wikipedia.hasSearched">
				<hr>
				<p data-i18n="story.common.noResult"></p>
			</div>
		</div>
	</div>
</div>

<button type="btn" class="btn btn-danger" ng-click="app.restart()" data-i18n="story.common.restart"></button>
<button type="submit" class="btn btn-primary" ng-disabled="app.nextDisabled" ng-click="app.nextState()" data-i18n="story.common.next"></button>