<h1 data-i18n="story.relatedUsers.title">Zotero Related Users</h1>
<div ng-show="zotero.tagLoaded == 0" data-i18n="story.common.loading"></div>
<div class="row" ng-show="zotero.tagLoaded == 1">
	<div class="tagList">
		<div ng-repeat="tag in zotero.tags" class="row">
			<span class="pointer" ng-repeat="(key, subTag) in tag.title.split(',')" ng-click="zotero.searchRelatedZoteroUsers(tag.title)">
				<span class="label label-success tags">{{subTag.trim()}}</span>
			</span>
			<img src="img/ajax-loader.gif" alt="" ng-show="zotero.loading">

			<div ng-show="tag.relatedUsers.length">
				<hr>
				<h4><span data-i18n="story.relatedUsers.relation"></span> <span ng-repeat="(keySubTag, subTag) in tag.title.split(',')"><span ng-show="(keySubTag != 0)">, </span>"<strong class="tags">{{subTag.trim()}}</strong>"</span></h4>
				<p data-i18n="story.relatedUsers.addToStory"></p>
				<div ng-repeat="user in tag.relatedUsers" class="tagRelatedWikipedia zoteroGroups col-md-3 relatedInfo" ng-class="{'saved': user.saved}">
					<span class="pointer" ng-click="zotero.toggleUserToStory(user)"><span ng-show="user.saved" data-i18n="story.common.forget"></span><span ng-show="!user.saved" data-i18n="story.common.save"></span></span>
					<h4>{{user.name}}</h4>
					<p><a href="{{user.url}}" target="_blank" data-i18n="story.relatedUsers.see"></a><br/>
					<span ng-bind-html="zotero.sce.trustAsHtml(user.info)"></span></p>
				</div>
			</div>
			<div ng-show="!tag.relatedUsers.length && zotero.hasSearched">
				<hr>
				<p data-i18n="story.common.noResult"></p>
			</div>
		</div>
	</div>
</div>

<button type="btn" class="btn btn-danger" ng-click="app.restart()" data-i18n="story.common.restart"></button>
<button type="submit" class="btn btn-primary" ng-disabled="app.nextDisabled" ng-click="app.nextState()" data-i18n="story.common.next"></button>