<div class="animated fadeInRight fadeOutRight row">
	<div class="col-md-6 col-lg-8">
		<h1><span data-i18n="story.post.title">Posting story about</span> <strong><span ng-repeat="(subKey, subTag) in app.storyTitle.split(',')"><span ng-if="subKey != 0">, </span>"{{subTag.trim()}}"</span></strong></h1>
		<button type="btn" class="btn btn-primary btn-xs" ng-click="app.updateStory(app.storyTitle)" data-i18n="story.summary.modifyIt"></button>

		<div class="row">

			<!-- <div class="col-md-12 tagList" ng-if="app.paramsCorrect"> -->
			<div class="col-md-12 tagList">
				<label for="summaryTextarea" data-i18n="story.post.editText"></label>
				<textarea id="summaryTextarea" class="form-control" rows="{{app.nbrOfRows}}" style="width: 100%;" ng-model="app.summaryString"></textarea>
				
				<hr>
				<label for="tagsInput" data-i18n="story.post.tags"></label>
				<input type="text" id="tagsInput" class="form-control" rows="2" style="width: 100%;" ng-model="app.tags"/>

				<hr>
				<!-- <div ng-if="app.params.useDiigo || app.params.useZotero" class=""> -->
				<div class="">
					<h3 data-i18n="story.post.posting"></h3>

					<div class="col-md-12 tagList" ng-if="!app.paramsCorrect">
						<span data-i18n="story.post.paramsPart1"></span> <a href="#/params" data-i18n="story.post.paramsPart2"></a>.  		
					</div>
					
					<span ng-if="app.paramsCorrect"><p data-i18n="story.post.choseService"></p>
						<label class="checkbox" ng-if="app.params.useDiigo">
							<input type="checkbox" ng-model="app.builderSettings.useDiigoBookmarks" ng-checked="app.builderSettings.useDiigoBookmarks"> Diigo
						</label>
						<label class="checkbox" ng-if="app.params.useZotero">
							<input type="checkbox" ng-model="app.builderSettings.useZoteroBookmarks" ng-checked="app.builderSettings.useZoteroBookmarks"> Zotero
						</label></span>

					<!-- <button ng-disabled="app.hasPosted || app.loading" ng-if="app.builderSettings.useDiigoBookmarks || app.builderSettings.useZoteroBookmarks" type="btn" class="btn btn-success"  ng-click="app.postIt()">{{app.postButtonText}}</button> -->
					
					<label for="groupInput" data-i18n="story.post.group"></label>
					<input type="text" id="groupInput" class="form-control" rows="2" ng-model="app.params.group"/>

					<br/>
					<button ng-disabled="app.hasPosted || app.loading" type="btn" class="btn btn-success"  ng-click="app.postIt()">{{app.postButtonText}}</button>
					<img src="img/ajax-loader.gif" alt="" ng-if="app.loading">
				</div>
			</div>

		</div>
	</div>


	<div class="col-md-6 col-lg-4">
		<p><span data-i18n="story.post.modifyParamsPart1"></span> <a href="#/params" data-i18n="story.post.modifyParamsPart2"></a> </p>
		<summary-params></summary-params>
		<!-- <button class="btn" ng-click="app.next()" ng-disabled='app.paramsFalse'>Next Step</button> -->
	</div>

</div>