<div class="row">
  <div class="jumbotron animated fadeInLeft fadeOutLeft col-md-12" ng-if="app.state.getCurrentStateName() == 'start'">
    <h1 data-i18n="story.search.title"></h1>
    <form ng-submit="app.nextState();">
      <div class="form-group">
        <label for="keywordInput" data-i18n="story.search.keywordExplaination"></label>
        <input type="text" class="form-control" id="keywordInput" placeholder="Enter a keyword (education, news, computer science ...)" ng-model="app.params.noAccount_tag">
      </div>
      <button type="submit" class="btn btn-primary" data-i18n="story.search.launchSearch"></button>
    </form>
  </div>
  
  <div class="animated fadeInRight fadeOutLeft col-md-8" ng-if="app.state.getCurrentStateName() == 'wikipediaArticle'">
    <wikipedia-articles></wikipedia-articles>
  </div>
  
  <div class="animated fadeInRight fadeOutLeft col-md-8" ng-if="app.state.getCurrentStateName() == 'diigoRelatedTags'">
    <diigo-related-tags></diigo-related-tags>
  </div>
  
  <div class="animated fadeInRight fadeOutLeft col-md-8" ng-if="app.state.getCurrentStateName() == 'diigoRelatedBookmarks'">
    <diigo-related-bookmarks></diigo-related-bookmarks>
  </div>
  
  <div class="animated fadeInRight fadeOutLeft col-md-8" ng-if="app.state.getCurrentStateName() == 'zoteroRelatedGroups'">
    <zotero-related-groups></zotero-related-groups>
  </div>
  
  <div class="animated fadeInRight fadeOutLeft col-md-8" ng-if="app.state.getCurrentStateName() == 'zoteroRelatedUsers'">
    <zotero-related-users></zotero-related-users>
  </div>
  
  <div class="animated fadeInRight fadeOutRight col-md-8" ng-if="app.state.getCurrentStateName() == 'summary'">
    <summary></summary>
  </div>
  
  <div class="col-md-4" ng-if="app.state.getCurrentStateShowPath()">
    <ul>
      <li ng-repeat="(key, state) in app.state.getAllState()" ng-if="state.showPath"><span ng-class="{bold: app.state.getCurrentStateName() == state.title}">{{state.label}}</span></li>
    </ul>
    <button type="submit" class="btn btn-primary" ng-disabled="app.nextDisabled" ng-click="app.nextState()" ng-if="app.state.getCurrentStateShowNext()" data-i18n="story.common.next"></button>
  </div>


</div>