<ul class="sidebar-nav nav" role="menu">
  <!--   <li class="sidebar-brand">
      <a href="#/" data-i18n="tabs.title"></a>
    </li> -->
<!--     <li role='presentation' ng-class="{'active': (tabs.activeTab == 'intro')}">
      <a role="menuitem" href="#/">1. Introduction</a>
    </li>
  <li role='presentation' ng-class="{'active': (tabs.activeTab == 'params'), 'disabled': (!tabs.hasAccessRight('params'))}">
    <a role="menuitem" href="#/params">2. Accounts</a>
  </li>
  <li role='build' ng-class="{'active': (tabs.activeTab == 'build'), 'disabled': (!tabs.hasAccessRight('build') || !tabs.hasAccessRight('paramsCorrect'))}">
    <a role="menuitem" href="#/build">3. Build my CoWaBoo</a>
  </li>
  <li><hr></li> -->
  <li role='presentation' ng-class="{'active': (tabs.activeTab == 'params')}"><a role="menuitem" href="#/params"}><span data-i18n="tabs.params"></span><img src="img/false.png" height='20' ng-if="!tabs.hasAccessRight('paramsCorrect')" /> <img src="img/true.png" height='20' ng-if="tabs.hasAccessRight('paramsCorrect')" /></a></li>
  <li role='presentation' ng-class="{'active': (tabs.activeTab == 'story')}"><a role="menuitem" href="#/"} data-i18n="tabs.storyCreation"></a></li>
  <li role='presentation' ng-class="{'active': (tabs.activeTab == 'story-'+story.title)}" ng-repeat="story in tabs.stories"><a role="menuitem" href="#/story/{{story.title}}" ng-if="tabs.stories.length"><span data-i18n="tabs.storyTitle"></span>
    <span ng-repeat="(subKey, subTag) in story.title.split(',')"><span ng-if="subKey != 0">, </span>"{{subTag.trim()}}"</span>
  </a></li>
</ul>