<div class="col-md-6 col-lg-8">
	<h1>Accounts</h1>
	<p>In this page, we are going to set your accounts to be used with the CoWaBoo project.</p>
	
	<h3>Select the service(s)</h3>
	<p>First, you have to select which service accounts you want to use (or select both):</p>
	<label class="checkbox">
		<input type="checkbox" ng-model="app.params.useDiigo" ng-checked="app.params.useDiigo"> Diigo account
	</label>
	<label class="checkbox">
		<input type="checkbox" ng-model="app.params.useZotero" ng-checked="app.params.useZotero"> Zotero account
	</label>
	
	
<!-- 	<div ng-if="!app.params.useDiigo && !app.params.useZotero">
	<hr>
		<h3>No account selected</h3>
		<p>If you don't want to use any account, it is possible! Keep in mind that <strong>not all CoWaBoo's functionalities will be available</strong>. <br/> 
		Anyway, you'll have to chose <strong>a keyword</strong> from which we will make researches and that will be used as a <span class="tags">tag</span>.</p>
	
		<div class="form-group">
			<label for="noAccount_tag">Keyword from which research will be made</label>
			<input type="text" class="form-control" id="noAccount_tag" placeholder="Enter a keyword: education, festival, university..." ng-model="app.params.noAccount_tag">
		</div>
	</div> -->
	
	<div ng-if="app.params.useDiigo">
	<hr>
		<h3>Diigo account</h3>
		<p>If you want to use your Diigo account, you'll have to generate <a href="http://en.wikipedia.org/wiki/Basic_access_authentication" target="_blank">a basic authentication key</a> that is <a href="https://www.diigo.com/api_dev#section-key" target="_blank">asked by Diigo to connect to its api</a>. We'll generate it for you.
		<br/>For that, You'll have to give us your username and password (we won't use them for anything else, that's a promise).</p>
	
		<div class="form-group">
			<label for="diigo_username">Diigo username</label>
			<input type="text" class="form-control" id="diigo_username" placeholder="Enter your Diigo username" ng-model="app.params.diigo_username">
		</div>
		<div class="form-group">
			<label for="diigo_password">Diigo password</label>
			<input type="password" class="form-control" id="diigo_password" placeholder="Enter your Diigo password" ng-model="app.params.diigo_password">
		</div>
	
		<div class="form-group">
			<p for="diigo_auth"><strong>Here is your generated Basic Authentication key</strong> (we will use it to make Api calls)</p>
			<input type="text" class="form-control" id="diigo_auth" placeholder="Your basic authentication key" ng-model="app.params.diigo_auth" readonly>
			<p ng-click="app.hideBasicFormula = !app.hideBasicFormula"><small>&gt; click here to see/hide the formula</small></p>
			<span ng-hide="app.hideBasicFormula"><code>key = 'basic ' + base64(username + ':' + password)</code></span>
		</div>
	
	</div>
	
	<div ng-if="app.params.useZotero">
	<hr>
		<h3>Zotero account</h3>
		<p>For using a Zotero account there are several steps.</p>
	
		<div class="form-group">
			<label for="zotero_userOrGroup">You have to chose if you want to use one of your <a href="https://www.zotero.org/groups/" target='_blank'>Zotero group</a>, or your Zotero user.</label>
			<select id="zotero_userOrGroup" name="zotero_userOrGroup" class="form-control" ng-model="app.params.zotero_userOrGroup">
			  <option value="" ng-selected="!app.params.zotero_userOrGroup">User or Group ?</option>
			  <option value="users" ng-selected="app.params.zotero_userOrGroup == 'users'">User</option>
			  <option value="groups" ng-selected="app.params.zotero_userOrGroup == 'groups'">Group</option>
			</select>
		</div>
	
		<div ng-if="app.params.zotero_userOrGroup == 'users'">
			<p>If you want to use <strong>your user</strong>, you'll have to find your <strong>user id</strong>. To do that:</p>
			 <ol>
			 	<li>
			 		<a href="https://www.zotero.org/user/login/" target="_blank">Connect to Zotero</a>
			 	</li>
			 	<li>
			 		Then go to <a href="https://www.zotero.org/settings/keys" target="_blank">your settings</a>. There, you should find "<code>Your userID for use in API calls is *******</code>". There, you have it, it is your user id. Enter it below.
			 	</li>
			 </ol>
			<div class="form-group">
				<label for="zotero_userId">Your user Id</label>
				<input type="text" class="form-control" id="zotero_userId" placeholder="Enter your Zotero user Id" ng-model="app.params.zotero_userId">
			</div>
	
			<div class="form-group">
				<p>Then, you'll need your personal zotero Api private key. It is a key that identify the bearer and grant permission to write or read the user or group library.<br/> 
				This key can be created or found in <a href="https://www.zotero.org/settings/keys">your zotero's settings</a> (it is called "private key"). If you don't have any (<code>You have not yet created any keys</code>), <a href="https://www.zotero.org/settings/keys/new">create one</a> and be sure to give it a <strong>read/write permission</strong> to your library</p>
				<label for="zotero_apiKey">Your api key</label>
				<input type="text" class="form-control" id="zotero_apiKey" placeholder="Enter your api key" ng-model="app.params.zotero_apiKey">
			</div>
		</div>
	
		<div ng-if="app.params.zotero_userOrGroup == 'groups'">
			<p>If you want to use <a href="https://www.zotero.org/groups/" target="_blank"><strong>a group</strong> to which you've subscribed</a> you'll have to find your <strong>group id</strong>.<br/>
			You can do that by two ways:</p>
			<ul class="nav nav-tabs">
				<li role="presentation" ng-class="{'active': tabs.group.easy || !(tabs.group.easy || tabs.group.hard)}" class="active"><a href="#/params" ng-click='tabs.group.easy=true; tabs.group.hard=false;'>The easy way</a></li>
				<li role="presentation" ng-class="{'active': tabs.group.hard}" class=""><a href="#/params" ng-click='tabs.group.easy=false; tabs.group.hard=true;'>The hard way</a></li>
			</ul>
	
			<div class="container" ng-if='tabs.group.hard'>
				<p>To find it, it is a bit tricky:</p>
				<ol>
					<li><a href="https://www.zotero.org/groups/" target="_blank">Go to your zotero's group list</a></li>
					<li>Then go to your group library (click, "Group Library")</li>
					<li>In the bottom left, you'll find "Subscribe to this feed"</li>
					<li>Copy this link, it shoud be something like <pre>https://api.zotero.org/groups/303941/items/top?start=0&amp;limit=25&amp;format=atom&amp;v=1</pre></li>
					<li>Take the number between "groups/" and "/items": <strong>It is your Zotero group id</strong></li>
				</ol>
			</div>
	
			<div class="container" ng-if='tabs.group.easy || !(tabs.group.easy || tabs.group.hard)'>
				<p>Give us the name of the group you want use and let us find its id for you:</p>
				<div class="form-group">
					<label for="zotero_groupName">Group name</label>
					<input ng-disabled="app.findingGroupId" type="text" class="form-control" id="zotero_groupName" placeholder="Enter the group name" ng-model="app.params.zotero_groupName">
					<button id='findGroupId' ng-disabled="app.findingGroupId || !app.params.zotero_groupName" ng-click="app.findGroupId()" type="btn" class='btn btn-primary'>{{app.findGroupIdLabel}}</button>
				</div>
			</div>
	
			<div class="form-group">
				<label for="zotero_groupId">Your group Id</label>
				<input type="text" class="form-control" id="zotero_groupId" placeholder="Enter your Zotero group Id" ng-model="app.params.zotero_groupId">
			</div>
	
			<div class="form-group">
				<p>Then, you'll need to have a personal zotero Api private key. It is a key that identify the bearer and grant permission to write or read the user or group library.<br/> 
				This key can be created or found in <a href="https://www.zotero.org/settings/keys">your zotero's settings</a> (it is called "private key"). If you don't have any (<code>You have not yet created any keys</code>), <a href="https://www.zotero.org/settings/keys/new">create one</a> and be sure to give it a <strong>read/write permission</strong> to the group you want to use.</p>
				<label for="zotero_apiKey">Your api key</label>
				<input type="text" class="form-control" id="zotero_apiKey" placeholder="Enter your api key" ng-model="app.params.zotero_apiKey">
			</div>
	
		</div>
	
	</div>
<!-- <button class="btn" ng-click="app.next()" ng-disabled='app.paramsFalse'>Next Step</button>
 -->
</div>

<div class="col-md-6 col-lg-4">
	<summary-params></summary-params>
	<!-- <button class="btn" ng-click="app.next()" ng-disabled='app.paramsFalse'>Next Step</button> -->
</div>

