<h1>What is CoWaBoo ?</h1>
<p>This page will explain what is the CoWaBoo project.
<br/>Then it will explain the goal of this app.
<br/>Finally, it will say that once the user is ready, he just has to click on the "Next Step" button.</p>

<button class="btn" ng-click="app.next()">Next Step</button>