<div class="col-md-6 col-lg-8">
	<h1>Build a Cowaboo's view</h1>
	<p>In this page, you have to select which service you want to use to build your CoWaBoo's view.</p>
	
	<div ng-if="app.params.useDiigo || app.params.useZotero" class="">
		<h3>Getting <span class="bookmarks">Bookmarks</span></h3>
		<p>You have to chose from which service you want to get your existing <span class="bookmarks">bookmarks</span></p>
		<label class="checkbox" ng-if="app.params.useDiigo">
			<input type="checkbox" ng-model="app.builderSettings.useDiigoBookmarks" ng-checked="app.builderSettings.useDiigoBookmarks"> Diigo
		</label>
		<label class="checkbox" ng-if="app.params.useZotero">
			<input type="checkbox" ng-model="app.builderSettings.useZoteroBookmarks" ng-checked="app.builderSettings.useZoteroBookmarks"> Zotero
		</label>
	</div>
	
	<div ng-if="app.params.useDiigo || app.params.useZotero" class="">
		<h3>Getting <span class="tags">Tags</span></h3>
		<p>You have to chose from which service you want to get your existing <span class="tags">tags</span></p>
		<div class="checkbox-information">
			<label class="checkbox" ng-if="app.params.useDiigo">
				<input type="checkbox" ng-model="app.builderSettings.useDiigoTags" ng-checked="app.builderSettings.useDiigoTags"> Diigo
			</label>
		</div>
		<div class="checkbox-information">
			<label class="checkbox" ng-if="app.params.useZotero">
				<input type="checkbox" ng-model="app.builderSettings.useZoteroTags" ng-checked="app.builderSettings.useZoteroTags"> Zotero
			</label>
		</div>
	</div>
	
	<div class="">
		<h3>Getting Tag <span class="relatedInfo">related information</span></h3>
		<p>Which <span class="relatedInfo">related information</span> do you want to find ?</p>
		<div class="checkbox-information">
			<label class="checkbox">
				<input type="checkbox" ng-model="app.builderSettings.tagsRelInfo_diigoTags" ng-checked="app.builderSettings.tagsRelInfo_diigoTags"> Diigo's related tags
			</label>
			<p>You will be asked to select a <span class="tags">tag</span> in order to get back some <span class="relatedInfo tags">related tags</span></p>
		</div>
		<div class="checkbox-information">
			<label class="checkbox">
				<input type="checkbox" ng-model="app.builderSettings.tagsRelInfo_wikipediaArticles" ng-checked="app.builderSettings.tagsRelInfo_wikipediaArticles"> Related articles from Wikipedia
			</label>
			<p>You will be asked to select a <span class="tags">tag</span> in order to get back some wikipedia <span class="relatedInfo articles">related articles</span></p>
		</div>
		<div class="checkbox-information">
			<label class="checkbox">
				<input type="checkbox" ng-model="app.builderSettings.tagsRelInfo_zoteroGroups" ng-checked="app.builderSettings.tagsRelInfo_zoteroGroups"> Zotero's related groups
			</label>
			<p>You will be asked to select a <span class="tags">tag</span> in order to find some Zotero's <span class="relatedInfo groups">related groups</span></p>
		</div>
		<div class="checkbox-information">
			<label class="checkbox">
				<input type="checkbox" ng-model="app.builderSettings.tagsRelInfo_zoteroUsers" ng-checked="app.builderSettings.tagsRelInfo_zoteroUsers"> Zotero's related users
			</label>
			<p>You will be asked to select a <span class="tags">tag</span> in order to find some Zotero's <span class="relatedInfo users">related users</span></p>
		</div>
	</div>
	
	<div class="savingBookmarks">
		<h3>Saving <span class="bookmarks">Bookmarks</span></h3>
		<p>Select service(s) to which you want to save your <span class="bookmarks">bookmarks</span></p>
		<label class="checkbox">
			<input type="checkbox" ng-model="app.builderSettings.saveBookmark_toCoWaBoo" ng-checked="app.builderSettings.saveBookmark_toCoWaBoo"> To your CoWaBoo
		</label>
		<label class="checkbox" ng-if="app.params.useDiigo">
			<input type="checkbox" ng-model="app.builderSettings.saveBookmark_toDiigo" ng-checked="app.builderSettings.saveBookmark_toDiigo"> To your Diigo's accounts
		</label>
		<label class="checkbox" ng-if="app.params.useZotero">
			<input type="checkbox" ng-model="app.builderSettings.saveBookmark_toZotero" ng-checked="app.builderSettings.saveBookmark_toZotero"> To your Zotero's accounts
		</label>
		
		
	</div>
</div>

<div class="col-md-6 col-lg-4">




<div class="jumbotron alert" ng-class="{'alert-danger': app.paramsFalse}">
	<h2>Builder settings</h2>
	<div class="summary-params">
<!-- 		<h3>Account(s) you want to use:</h3>
		<ul>
			<li class="alert alert-danger" ng-if="!app.params.useDiigo && !app.params.useZotero && !app.params.noAccount_tag">none (and no tag entered)</li>
			<li class="alert" ng-if="!app.params.useDiigo && !app.params.useZotero && app.params.noAccount_tag">No account but a keyword</li>
			<li ng-if="app.params.useDiigo">Diigo</li>
			<li ng-if="app.params.useZotero">Zotero</li>
		</ul>
		
		<div ng-if="!app.params.useDiigo && !app.params.useZotero && app.params.noAccount_tag">
			<h3>No account Params</h3>
			<ul>
				<li ng-if="app.params.noAccount_tag"><strong>Keyword</strong>: {{app.params.noAccount_tag}}</li>
			</ul>
		</div> -->
	</div>
</div>




	<summary-params></summary-params>
</div>